@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	line-height: 1.6;
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	margin: 0 auto;
}
.fa-bell {
	position: relative;
	font-size: 1.2rem;
}
.fa-bell::after {
	content: '';
	position: absolute;
	width: 7px;
	height: 7px;
	background: red;
	border-radius: 100vh;
	right: -1px;
	top: 2px;
}
.logo {
	border-radius: 25px;
	font-size: 3rem;
	font-weight: 700;
	width: 70px;
	height: 70px;
	display: grid;
	place-items: center;
}
